$background_main: #EEEEEE;
$background_content: #fffdf7;
$background_module: #faf7ef;

$border_main: #e0d6b3;
$border_inner: #ede7d2;


$body_text_color: #4D4844;
$link_color: #27AC7F;
$link_visited: #5DC19F;
$link_hover: #E95D4A;

$cornerRadius: 3px;
$textShadowX: 5px;
