
.g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9, .g10, .g11, .g12 {
  margin-left: 1.25%;
  margin-right: 1.25%;
  display: inline;
  float: left;
  position: relative;
  overflow: hidden;
  margin-top: 24px; }

.g1 {
  width: 5.83333333%; }

.g2 {
  width: 14.1666667%; }

.g3 {
  width: 22.5%; }

.g4 {
  width: 30.8333333%; }

.g5 {
  width: 39.1666667%; }

.g6 {
  width: 47.5%; }

.g7 {
  width: 55.8333333%; }

.g8 {
  width: 64.1666667%; }

.g9 {
  width: 72.5%; }

.g10 {
  width: 80.8333333%; }

.g11 {
  width: 89.1666667%; }

.g12 {
  width: 97.5%; }

.alpha {
  margin-left: 0px;
  margin-top: 0; }

.omega {
  margin-right: 0px;
  margin-top: 0; }

.container {
  max-width: 90em;
  min-width: 50em;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  position: relative; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after, .container:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

* html .clearfix, *:first-child + html .clearfix {
  zoom: 1; }
